In [26]:
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras import layers
import glob

ModuleNotFoundError: No module named 'sklearn'

In [23]:
Pfad = 'C:/Users/erikm/Desktop/Diplomarbeit Erik Marr/Daten/I7000_F9000/TPath_100_finish_data.pkl'
data = pd.read_pickle(Pfad)

In [24]:
data = data.drop(data.columns[2:5], axis = 1)
df = data
df

        X-Koordinate  Y-Koordinate  Temperatur
1                  0      -0.00200      400.35
2                  0      -0.00199      402.51
3                  0      -0.00198      404.63
4                  0      -0.00197      406.73
5                  0      -0.00196      408.81
...              ...           ...         ...
120997           300       0.00196      341.96
120998           300       0.00197      341.91
120999           300       0.00198      341.84
121000           300       0.00199      341.78
121001           300       0.00200      341.71

[121001 rows x 3 columns]

In [25]:
df = df.sample(frac=1, random_state=42)  # Hier wird 42 als Random State verwendet, um die Ergebnisse reproduzierbar zu machen
df

        X-Koordinate  Y-Koordinate  Temperatur
85427            212       0.00002      464.74
6977              17      -0.00058      526.61
101558           252       0.00053      442.09
22333             55       0.00022      524.51
13974             34       0.00105      505.05
...              ...           ...         ...
110269           274      -0.00080      425.69
119880           298      -0.00117      409.06
103695           257       0.00180      461.49
861                2      -0.00144      488.08
15796             39      -0.00083      521.72

[121001 rows x 3 columns]

In [33]:
Label = df["Temperatur"]
data = df.drop("Temperatur", axis=1)
X = data
y = Label

In [ ]:
# train_df enthält 80% der Daten, test_df enthält 20% der Daten
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)